.margin-between-anchors{
    margin-bottom: 5px;
}

.grow-button:hover{
    cursor: pointer;
    width: 500px;
    height: 400px;
    z-index: 555555 !important;
    position: relative;
}

.background-guy{
    background-color: orangered;
}

.name-font-size {
    font-size: xx-large;
    font-weight: bold;
}

